<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form id="loginForm" method="post" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>
    <script>
        function validateForm(event) {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username == "" || password == "") {
                alert("Username and Password must be filled out");
                event.preventDefault();
                return false;
            }
            
            return true;
        }
        document.getElementById("loginForm").addEventListener("submit", validateForm);
    </script>
</body>
</html>